.new-message { 
    span { 
        font-size: 0.8rem; 
        display: block; 
        margin-bottom: 2px; 
    }

    width: 45%;
    padding: 8px 12px;
    background-color: #f4f4f4; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
    animation: 0.7s ease-in-out leftslidein;
}

.my-message {
    float: right !important;
    background-color: #86bf9d;
    color: white;
    animation: 0.7s ease-in-out rightslidein;
}

@keyframes leftslidein {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes rightslidein {
    from { transform: translateX(100%); }
    to   { transform: translateX(0%); }
}

@media screen and (min-width:720px){
    .new-message{
        span{
            font-size:18px;
            margin-bottom: 5px;
        }

        font-size:20px;
    }
}

@media screen and (min-width:1200px){
    .new-message{
        span{
            font-size:16px;
        }

        font-size:18px;
    }
}